!!!
%html.dark
  %head
    %title Saralinda
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %section.page
      %header Saralinda and Ben's Wedding
      %nav.pagenav
        %ul
          %li= link_to 'Wedding', root_path
          %li= link_to 'Bridal Party', url_for(action: 'party')
          %li= link_to 'Venue', url_for(action: 'aviary')
          %li= link_to 'Hotels', url_for(action: 'hotels')
          %li= link_to 'Registry', url_for(action: 'registry')
      %article= yield
